html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
label {
  font-family: arial;
  color: white;
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}
select {
  display: block;
}
#info {
  min-height: 100px;
  min-width: 200px;
  right: 15px;
  top: 15px;
  margin: 15px;
  padding: 10px;
  position: absolute;
  width: 20%;
  z-index: 40;
  border: solid 2px #666;
  border-radius: 4px;
  background-color: #666;
}
#map {
  padding: 0px;
}

#elevationProfile {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 40;
  width: 50%;
  height: 30%;
  padding: 5px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

#profileChartNode {

}