html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
label {
  font-family: arial;
  color: white;
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}
select {
  display: block;
}

table tr {
  margin-outside: 2px;
}

#info {
  min-height: 100px;
  min-width: 200px;
  right: 15px;
  top: 15px;
  margin: 15px;
  padding: 10px;
  position: absolute;
  width: 20%;
  z-index: 40;
  border: solid 2px #666;
  border-radius: 4px;
  background-color: #666;
}

#main-container {
  height: 100%;
}

#map {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 70%;
}

#tabs {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  color: ghostwhite;
  font-family: "Times New Roman";
  width: 30%;
  background-color: rebeccapurple;
}

#tabs-header {
  background-color:#ccc;
}

#tabs-content {
  height: 95%;
  padding: 5px 5px 10px 5px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

#profileChartNode {

}

#elevationProfile {
  background-color: #666;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 40;
  width: 85%;
  height: 30%;
  padding: 5px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

.tab-list {
  list-style:none;
  height:2em;
  margin:0;
  padding:5px 0 0 0;
  border: none;
}

.tab-list li {
  float:left;
  margin-right:0.13em;
}

.tab-list li a {
  display:block;
  padding:0 1em;
  text-decoration:none;
  border:0.06em solid #000;
  border-bottom:0;
  font:bold 0.88em/2em arial,geneva,helvetica,sans-serif;
  /*color:#000;*/
  /*background-color:#ccc;*/

  /* CSS 3 elements */
  webkit-border-top-right-radius:0.50em;
  -webkit-border-top-left-radius:0.50em;
  -moz-border-radius-topright:0.50em;
  -moz-border-radius-topleft:0.50em;
  border-top-right-radius:0.50em;
  border-top-left-radius:0.50em;
}

.tab-list li a:hover {
  background:rebeccapurple;
  color:#fff;
  text-decoration:none;
  height: 100%;
}

.selected-link {
  background:rebeccapurple;
  color:#fff;
  text-decoration:none;
  height: 100%;
}

#tab-east-west {
  overflow: auto;
}

#tab-west-east {
  overflow: auto;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}